/* Top players styles */
.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.player {
    display: flex;
    align-items: center;
    gap: 16px;
}

.player img {
    width: 56px;
    height: 56px;
}